bidict==0.21.2
brotlipy==0.7.0
certifi==2021.5.30
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1613413910603/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093454858/work
click==8.1.3
cloudpickle==2.0.0
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1618231726924/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1616851494586/work
cycler==0.10.0
Cython==0.29.24
Flask==2.2.2
Flask-Login==0.6.2
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==3.0.2
gym==0.20.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata==5.0.0
itsdangerous==2.0.1
Jinja2==3.0.1
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1624926062656/work
MarkupSafe==2.1.1
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1620506033308/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1626648422821/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
pandas==1.2.4
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1625678050927/work
pybind11==2.7.1
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1610094841871/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pynput==1.7.4
pyobjc-core==7.3
pyobjc-framework-ApplicationServices==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Quartz==7.3
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291460269/work
python-dateutil==2.8.2
python-engineio==4.2.1
python-socketio==5.4.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1611943386799/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1624824941870/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
SQLAlchemy==1.4.43
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1625488956802/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1621890532941/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1615828766818/work
utils==1.0.1
Werkzeug==2.2.2
zipp==3.10.0
